.container {
    background-color: #292626;
    margin: 0 auto;
    padding: 20px;
}

.calendar-div {
    border: 3px solid rgb(250, 254, 174);
    border-radius: 1%;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.calendar-grid {
    grid-auto-flow: row;
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 columns for 7 days of the week */
    grid-gap: 10px; /* Adjust spacing between days as needed */
  }
  
  /* Styling for individual days */
  .calendar-day {
    height: calc(60vh / 6); /* 80vh divided by 6 rows */
    width: calc(50vw / 7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer; /* Indicate interactivity */
    color: white;
  }

  .calendar-day.not-current-month {
    /* Adjust opacity and color for non-current month days */
    opacity: 0.4;
  }
  
  /* Highlight selected days */
  .calendar-day.selected {
    background-color: #4a4a47;
    border-color: #f3f321;
    color: #ffffff;
  }

.calendar-header {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.calendar-title {
  color: white;
  width: auto;
  top: 50%;
}

.fa-chevron-left:hover, .fa-chevron-right:hover {
  transition: color 0.2s ease-in-out; /* Add smooth transition */
  filter: drop-shadow(0 0 5px #ffee10);
  cursor: pointer;
}

.fa-chevron-left {
  color: #f3f321;
}

.fa-chevron-left {
  color: #f3f321;
}

.fa-chevron-right {
  color: #f3f321;
}

.fa-house {
  color: rgb(246, 197, 84);
  position: absolute; /* Absolute positioning to stick to the corner */
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the left position as needed */
  z-index: 1; /* Ensure the icon stays on top of other elements */
}

.fa-house:hover {
  transition: color 0.2s ease-in-out; /* Add smooth transition */
  filter: drop-shadow(0 0 5px rgb(246, 197, 84));
  cursor: pointer;
}